flows.json
[{"id":"d23d9ac4.b86918","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ec82909.db880f","type":"http request","z":"d23d9ac4.b86918","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be97e547-f431-4355-bcfd-cd7ea966ecdf/deployments/ba904856-dd86-418a-bd1b-c23828c5e43e/online","tls":"","proxy":"","x":857,"y":413,"wires":[["413087c7.4abf8"]]},{"id":"8c08b7db.bd3cf","type":"function","z":"d23d9ac4.b86918","name":"prediction","func":"var token=msg.payload.token;\nvar C1=global.get(\"C1\");\nvar banner_pos=global.get(\"banner_pos\");\nvar C16=global.get(\"C16\");\nvar C21=global.get(\"C21\");\nvar device_type=global.get(\"device_type\");\nmsg.payload={\"fields\":[\"C1\",\"banner_pos\",\"C16\",\"C21\",\"device_type\"],\"values\":[[C1,banner_pos,C16,C21,device_type]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":333,"wires":[["ec82909.db880f","dfa4c472.bdd1a"]]},{"id":"dfa4c472.bdd1a","type":"debug","z":"d23d9ac4.b86918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":817,"y":293,"wires":[]},{"id":"661b4b03.3833bc","type":"http request","z":"d23d9ac4.b86918","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":597,"y":193,"wires":[["b31fec13.0fa858","8c08b7db.bd3cf"]]},{"id":"bf76644c.e323f8","type":"inject","z":"d23d9ac4.b86918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":167,"y":213,"wires":[["d916d368.27adf"]]},{"id":"d916d368.27adf","type":"function","z":"d23d9ac4.b86918","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"bede35bf-afea-4aec-bc9c-62bf5dfc71bc\"\nvar password=\"358a0b58-326d-451c-9b18-5415f65805d7\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"C1\",msg.payload.C1)\nglobal.set(\"banner_pos\",msg.payload.banner_pos)\nglobal.set(\"C16\",msg.payload.C16)\nglobal.set(\"C21\",msg.payload.C21)\nglobal.set(\"device_type\",msg.payload.device_type)\n\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":175,"wires":[["661b4b03.3833bc"]]},{"id":"413087c7.4abf8","type":"function","z":"d23d9ac4.b86918","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1117,"y":433,"wires":[["850ee37c.def588"]]},{"id":"b31fec13.0fa858","type":"debug","z":"d23d9ac4.b86918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":797,"y":173,"wires":[]},{"id":"3bacc661.7683d2","type":"function","z":"d23d9ac4.b86918","name":"State conversion","func":"var input=msg.payload.input\nvar State\n\nif (input==\"New York\")\n{\n    State=[0,1]\n}\nelse if(input==\"California\")\n{\n  State=[0,0]  \n}\nelse if (input==\"Florida\")\n{\n  State=[1,0]  \n}\n\nmsg.payload.State=State\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":453,"wires":[["d916d368.27adf","7c64e444.2548e4"]]},{"id":"117dfa1e.f66556","type":"ui_text","z":"d23d9ac4.b86918","group":"5977563d.ee3","order":2,"width":0,"height":0,"name":"","label":"C1","format":"{{msg.payload.C1}}","layout":"row-spread","x":1018.888916015625,"y":487.77777099609375,"wires":[]},{"id":"850ee37c.def588","type":"ui_text","z":"d23d9ac4.b86918","group":"85d97071.8d0138","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1302.2221069335938,"y":354.44447326660156,"wires":[]},{"id":"7f7e96a9.29917","type":"ui_text","z":"d23d9ac4.b86918","group":"5977563d.ee3","order":2,"width":0,"height":0,"name":"","label":"banner_pos","format":"{{msg.payload.banner_pos}}","layout":"row-spread","x":1088.888916015625,"y":523.3333129882812,"wires":[]},{"id":"7c64e444.2548e4","type":"ui_text","z":"d23d9ac4.b86918","group":"5977563d.ee3","order":2,"width":0,"height":0,"name":"","label":"C16","format":"{{msg.payload.C16}}","layout":"row-spread","x":954.4444274902344,"y":644.4445190429688,"wires":[]},{"id":"4457cd89.0c7544","type":"ui_form","z":"d23d9ac4.b86918","name":"","label":"","group":"5977563d.ee3","order":0,"width":0,"height":0,"options":[{"label":"C1","value":"C1","type":"number","required":true},{"label":"banner_pos","value":"banner_pos","type":"number","required":true},{"label":"C16","value":"C16","type":"number","required":true},{"label":"C21","value":"C21","type":"number","required":true},{"label":"device_type","value":"device_type","type":"number","required":true}],"formValue":{"C1":"","banner_pos":"","C16":"","C21":"","device_type":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":748.888916015625,"y":500,"wires":[["117dfa1e.f66556","7f7e96a9.29917","3bacc661.7683d2","d916d368.27adf","a76363e9.5aa208","6a8b6fd0.61dcf"]]},{"id":"a76363e9.5aa208","type":"ui_text","z":"d23d9ac4.b86918","group":"5977563d.ee3","order":2,"width":0,"height":0,"name":"","label":"C21","format":"{{msg.payload.C21}}","layout":"row-spread","x":1158.77783203125,"y":566.4444885253906,"wires":[]},{"id":"6a8b6fd0.61dcf","type":"ui_text","z":"d23d9ac4.b86918","group":"5977563d.ee3","order":2,"width":0,"height":0,"name":"","label":"device_type","format":"{{msg.payload.device_type}}","layout":"row-spread","x":1022.7778015136719,"y":591.5556030273438,"wires":[]},{"id":"5977563d.ee3","type":"ui_group","z":"d23d9ac4.b86918","name":"Prediction","tab":"2ce6af1e.f6a0f8","disp":true,"width":"6","collapse":false},{"id":"85d97071.8d0138","type":"ui_group","z":"","name":"Prediction","tab":"2ce6af1e.f6a0f8","disp":true,"width":"6","collapse":false},{"id":"2ce6af1e.f6a0f8","type":"ui_tab","z":"d23d9ac4.b86918","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]